mark-down {
    max-width: var(--markdown-max-width);
    min-width: 320px;
    padding: 1em;
    padding-right: var(--mark-down-aside-width);
}

mark-down h1, 
mark-down h2, 
mark-down h3, 
mark-down h4 {
    font-weight: 400;
    font-style: italic;
    margin-top: 1.2361em;
    margin-bottom: 1.2361rem;
}

mark-down h1 {
    font-size: var(--h1-font-size);
}

mark-down h2 {
    font-size: var(--h2-font-size);
}

mark-down h3 {
    font-size: var(--h3-font-size);
}

mark-down p,
mark-down dl,
mark-down ol,
mark-down ul {
    font-size: var(--font-size);
    line-height: var(--line-height);
}

mark-down a {
    color: var(--link-color);
}


mark-down p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    vertical-align: baseline;
}

mark-down aside {
    width: var(--markdown-aside-width);
    float: right;
    clear: right;
    margin-right: calc(var(--markdown-aside-width) * -1);
    width: calc(var(--markdown-aside-width) - 4rem);
    margin-top: 0.3rem;
    margin-bottom: 0;
    line-height: 0.8;
    vertical-align: baseline;
    position: relative;
    padding-right: 0.5em;

}

mark-down figure {
    max-width: 90%;
}

mark-down figure img {
    max-width: 100%;
    margin: auto;
}

mark-down figcaption {
    margin-right: 0%;
    margin-left: auto;
    max-width: none;
    max-width: 80%;
    font-size: 80%;
    font-style: italic;
    text-align: right;
}

mark-down blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
    font-size: 130%;
    font-style: italic;
}

mark-down blockquote p,
mark-down blockquote footer {
    width: 100%;
}

mark-down hr {
    margin: 3em 0;
    color: var(--neutral-fg-color);
}