

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 768px) {
  mark-down aside {
      width: var(--markdown-aside-width);
      float: unset;
      clear: unset;
      margin-right: 0;
      margin-left: auto;
      width: 80%;
      margin-top: 0.3rem;
      margin-bottom: 0;
      vertical-align: baseline;
      position: unset;
      font-size: 100%;
      padding: 0.001em 2.0em;
      display: block;
  }

  mark-down {
    margin: auto;
    padding-right: 1em !important;
    padding: 1em;
  }
}
