@media print {

  @page {

    size: letter;

    margin: 1cm;

  }

  body {
    background-color: white;
    color: black;
  }

  code {
    white-space: break-spaces !important;
  }

  mark-down {
    background-color: white !important;
    color: black;
  }

  mark-down aside {
      width: var(--markdown-aside-width);
      float: unset;
      clear: unset;
      margin-right: 0;
      margin-left: auto;
      width: 80%;
      margin-top: 0.3rem;
      margin-bottom: 0;
      vertical-align: baseline;
      position: unset;
      font-size: 100%;
      padding: 0.001em 2.0em;
      display: block;
  }

  mark-down {
    max-width: 100%;
    margin: auto;
    padding-right: 1em !important;
    padding: 1em;
  }

}