@charset "UTF-8";

/*
    This code has been adapted from tufte.css: https://edwardtufte.github.io/tufte-css/
*/

mark-down h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

mark-down h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

mark-down h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

mark-down hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

mark-down p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

mark-down .numeral {
    font-family: et-book-roman-old-style;
}

mark-down .danger {
    color: red;
}

mark-down article {
    padding: 5rem 0rem;
}

mark-down section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

mark-down p,
mark-down dl,
mark-down ol,
mark-down ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

mark-down p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
mark-down div.epigraph {
    margin: 5em 0;
}

mark-down div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

mark-down div.epigraph > blockquote,
mark-down div.epigraph > blockquote > p {
    font-style: italic;
}

mark-down div.epigraph > blockquote > footer {
    font-style: normal;
}

mark-down div.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

mark-down blockquote {
    font-size: 1.4rem;
}

mark-down blockquote p {
    width: 55%;
    margin-right: 40px;
}

mark-down blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

mark-down section > p,
mark-down section > footer,
mark-down section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
mark-down section > dl,
mark-down section > ol,
mark-down section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

mark-down dt:not(:first-child),
mark-down li:not(:first-child) {
    margin-top: 0.25rem;
}

mark-down figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

mark-down figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

mark-down figure.fullwidth figcaption {
    margin-right: 24%;
}

mark-down a:link,
mark-down a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
mark-down img {
    max-width: 100%;
}

mark-down .sidenote,
mark-down .marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

mark-down .sidenote-number {
    counter-increment: sidenote-counter;
}

mark-down .sidenote-number:after,
mark-down .sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

mark-down .sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

mark-down .sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

mark-down blockquote .sidenote,
mark-down blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

mark-down div.fullwidth,
mark-down table.fullwidth {
    width: 100%;
}

mark-down div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

mark-down .sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
}

mark-down code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

mark-down .sans > code {
    font-size: 1.2rem;
}

mark-down h1 > code,
mark-down h2 > code,
mark-down h3 > code {
    font-size: 0.80em;
}

mark-down .marginnote > code,
mark-down .sidenote > code {
    font-size: 1rem;
}

mark-down pre > code {
    font-size: 0.9rem;
    width: 100%;
    overflow-x: auto;
    display: block;
}

mark-down pre.fullwidth > code {
    width: 90%;
}

mark-down .fullwidth {
    max-width: 90%;
    clear:both;
}

mark-down span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

mark-down input.margin-toggle {
    display: none;
}

mark-down label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

mark-down label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

mark-down .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {


    mark-down hr,
    mark-down section > p,
    mark-down section > footer,
    mark-down section > table {
        width: 100%;
    }

    mark-down pre > code {
        width: 97%;
    }

    mark-down section > dl,
    mark-down section > ol,
    mark-down section > ul {
        width: 90%;
    }

    mark-down figure {
        max-width: 90%;
    }

    mark-down figcaption,
    mark-down figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    mark-down blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    mark-down blockquote p,
    mark-down blockquote footer {
        width: 100%;
    }

    mark-down label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    mark-down .sidenote,
    mark-down .marginnote {
        display: none;
    }

    mark-down .margin-toggle:checked + .sidenote,
    mark-down .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    mark-down label {
        cursor: pointer;
    }

    mark-down div.table-wrapper,
    mark-down table {
        width: 85%;
    }

    mark-down img {
        width: 100%;
    }
}