:root {  
  --bg-color: #FFF8E7;            
  --fg-color: #5b4931;            
  --highlight-color: #FE7400;     
  --secondary-color: #1e293b;     
  --trinary-color: #475569;   
  --markdown-max-width: 40em;  
  --markdown-aside-width: 20em;  
  --code-secondary-highlight-color: var(--secondary-color);
}
